.btn {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.btn.active {
  opacity: 0.6;
  transform: scale(1.1);
}

body.game-over {
  background-color: red;
  transition: 0.2s;
}

.scoreboard p {
  font-size: 20px;
  margin: 5px;
}
